.pagination {
    text-align: center;
    margin: 2rem auto 0;
    width: fit-content;

    a {
        color: $orange;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid $orange;
        margin: 0 5px;
        border-radius: 50%;
        font-size: 1.1rem;
        font-weight: 500;

        &:focus{
            box-shadow: none;
        }

        &:hover {
            background-color: $orange;
            color: $white;
            transition: 0.3s;
        }

    }

    #prev, #next{
        a{
            border: none;
            &:hover{
                background-color: transparent;
            }
        }
        &:disabled, &:focus{
            color: $light_gray;
            border: none;
        }
    }

    .active {
        background-color: $orange;
        color: $white;
        border-color: $white;
        z-index: 1;
    }

}


#prev a:hover,#next a:hover{
    background-color: transparent;
}