.whatsapp-fixed-icon{
    width: 4.5rem;
    &::before{
        content: "Request Meeting";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        background-color: $orange;
        border-radius: 2rem 0 0 2rem;
        padding: 0.5rem 1rem;
        transition: 0.3s;
        width: max-content;
        z-index: -1;
        opacity: 0;
    }
    &:hover::before{
        opacity: 1;
    }
}