header{
    background-color: $black;

    .nav-item{
        a{
            &,&:focus{
                color: $white !important;
                font-size: 1.1rem;
            }
            &:hover{
                color: $light_gray !important;
                @include breakPoints("medium"){
                    background-color: rgba(255, 255, 255, 0.234);
                }
            }
            &.active{
                color: $orange !important;
            }
        }
    }

    .dropdown-menu{
        background-color: #ff5101a1;

        li:not(:last-child) a{
            border-bottom: 1px solid rgba(128, 128, 128, 0.338);
        }

        a{
            padding: 0.6rem 1rem;
            &:hover{
                background-color: rgba(255, 255, 255, 0.234);
            }
        }
    }

}
