@media (min-width: $largeScreen) {
    .header-form{
        position: absolute;
        width: 40rem;
        min-height: 100vh;
        background: #202020f5;
        right: -45rem;
        top: -16%;
        box-sizing: border-box;
        transition: all 0.4s ease;
        flex-direction: column;
        border-radius: 0;

        &.active{
            right: 0;
        }

    }
    .toggle-wrap {
        position: relative;
        cursor: pointer;
        float: left;
        padding-right: 2rem;

        /*disable selection*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .toggle-bar {
            width: 38px;
            margin: 10px 0;
            position: relative;
            border-top: 3px solid $light_gray;
            display: block;
            z-index: 9;
    
            &::before,&::after {
            content: "";
            display: block;
            background: $light_gray;
            height: 3px;
            width: 38px;
            position: absolute;
            top: -12px;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: 21%;
            -webkit-transform-origin: 21%;
            transform-origin: 21%;
        }
    
        &::after {
            top: 4px;
        }
    
        }
    
        &.active .toggle-bar{
            border-top: 3px solid transparent;
            &::before{
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &::after {
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

    }
}