// colors
$orange: #FF5101;
$white: #FFFFFF;
$gray : #393939;
$light_gray: #D0D0D0;
$black: #1c1c1c;
$dark_black: #1a1a1a;

// media queries
$xsmallScreen: 0px;
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$xlargeScreen: 1200px;
$xxlargeScreen: 1400px;